{% extends 'layout/baseTemplate.twig' %}

{% block title %}
    HOME
{% endblock %}

{% block content %}
    <!-- 이곳에서 로그인 내용이 들어간다 -->
    <div class="center_div">
        <div class="container_sm">
            <div>
                <label>LOGIN</label>
            </div>
            <div>
                <table class="login_table">
                    <tr>
                        <th colspan="2"><input type="text" id="user_id" placeholder="ID"></th>
                    </tr>
                    <tr>
                        <th colspan="2"><input type="password" id="user_pw" placeholder="PW"></th>
                    </tr>
                    <tr>
                        <th><button class="btn btn-accept">LOGIN</button> </th>
                        <th><button class="btn btn-alt">SIGNIN</button> </th>
                    </tr>
                </table>
            </div>
            <div class="text-align-center">
                <label>Or..<br></label>
                <a href="/board">proceed w/out login</a>
            </div>
        </div>
    </div>
{% endblock %}