
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/5c9e5bef-2ee2-49ab-aafb-0647ca146dc5.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/php.xml
.idea/sapience.iml
.idea/workspace.xml
.idea
vendor
