<div class="header">
    <div class="header_left">
        <label id="header_userId"></label>
    </div>
    <div class="header_center">
        <h1>BOARD</h1>
    </div>
    <div class="header_right">
        <div class="hidden" id="header_login_info_div">
            <button id="header_user_modify">Modify</button>
            <button id="header_user_logOut">Logout</button>
        </div>
    </div>
</div>