<div class="header">
    <div class="header_left">
        테스트 데이터가 이곳에 작성됩니다.
    </div>
    <div class="header_center">
        <h1>BOARD</h1>
    </div>
    <div class="header_right">
        <div class="">
            <div class="hidden_btn">

            </div>
            <div class="text">

            </div>
        </div>
    </div>
</div>